:root {
	--black-color: #333333;
	--dark-color: #000000;
	--white-color: #ffffff;
	--green-bg: #0a775f;
	--gold-bg: #f3d7b7;
	--dark-bg: #c99b67;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/') format('woff2'), url('../fonts/') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/') format('woff2'), url('../fonts/') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/') format('woff2'), url('../fonts/') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dotted var(--green-bg);
	outline-offset: 3px;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Roboto' sans-serif;
	font-weight: 400;
	color: var(--black-color);
	line-height: 1.5;
	font-size: 18px;
	overflow-x: hidden;
}
.container {
	max-width: 1380px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding-top: 0;
	margin-top: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	border: none;
	padding: 16px 24px;
	border-radius: 100px;
	background-color: var(--green-bg);
	color: var(--white-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	cursor: pointer;
	transition: opcity 0.4s ease;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	opacity: 0.6;
}

.main-content {
	flex-grow: 1;
	padding-top: 20px;
	padding-bottom: 50px;
}

.site-header__wrapper {
	padding-top: 40px;
	background-color: var(--gold-bg);
}

.site-header {
	margin-bottom: 40px;
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-logo {
	width: 235px;
	height: 24px;
	display: inline-block;
	transition: opacity 0.4s ease;
}

.site-logo:hover {
	opacity: 0.8;
}

.site-logo:active {
	opacity: 0.6;
}

.site-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.site-nav__item:not(:last-child) {
	margin-right: 40px;
}

.site-nav__link {
	text-transform: uppercase;
	color: var(--black-color);
	text-decoration: none;
	transition: all 0.4s ease;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.2;
}

.site-nav__link:hover {
	color: var(--green-bg);
}

.site-nav__link:active {
	opacity: 0.6;
}

/* HERO */

.hero {
	padding-top: 40px;
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__info {
	max-width: 464px;
	width: 100%;
	margin-right: 50px;
}

.hero__info-title {
	color: var(--dark-color);
	font-weight: 700;
	font-size: 64px;
	line-height: 1.2;
	margin-bottom: 24px;
}

.hero__info-text {
	color: var(--dark-color);
	font-size: 16px;
	margin-bottom: 34px;
}

.hero__img-wrapper {
	position: relative;
	width: 710px;
	height: 696px;
}

.hero__img-wrapper img {
	object-fit: cover;
}
.hero__img-wrapper_logo {
	position: absolute;
	top: -80px;
	left: -80px;
	width: 160px;
	height: 160px;
}
/* our colletin */
.our-colletion {
	position: relative;
}
.our-colletion__img-one {
	position: absolute;
	top: 0;
	left: -201px;
}
.our-colletion__img-two {
	position: absolute;
	top: 50%;
	right: -201px;
}
.our-colletion__img-three {
	position: absolute;
	bottom: 170px;
	left: -201px;
}

.our-colletion__container {
	background-image: url(../img/Rectangle.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: var(--gold-bg);
	padding-top: 50px;
	padding-bottom: 50px;
}

.our-colletion__title {
	font-weight: 700;
	font-size: 50px;
	line-height: 1.2;
	color: var(--dark-color);
	text-align: center;
	margin-bottom: 80px;
}

.our-colletion__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.our-colletion__item {
	display: flex;
	align-items: center;
}

.our-colletion__item:not(:last-child) {
	margin-bottom: 20px;
}

.our-colletion__item:nth-child(2n) {
	flex-direction: row-reverse;
}

.our-colletion__img {
	width: 450px;
	height: 375px;
	object-fit: cover;
	margin-right: 117px;
}
.our-colletion__img2 {
	margin-right: 0;
	margin-left: 117px;
}

.our-colletion-item__info {
	max-width: 410px;
}

.our-colletion-item__info__title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 48px;
	line-height: 1.2;
}

.our-colleton-item__info__text {
	font-weight: 400;
	font-size: 22px;
	line-height: 1.5;
}

.index-collection {
	max-height: 703px;
	position: relative;
	background-color: var(--dark-bg);
	max-width: 1400px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 289px;
}

.index-collection__info {
	color: var(--white-color);
	text-align: center;
}

.index-collection__title {
	padding-top: 50px;
	font-weight: 700;
	line-height: 1.6;
	text-transform: uppercase;
}
.index-collection__text {
	margin-left: 410px;
	max-width: 581px;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.8;
}

.index-collection__info-unit__list {
	display: flex;
}

.index-collection__info-unit__item {
	width: 433px;
	height: 629px;
}

.index-collection__info-unit__img {
	position: absolute;
	top: 283px;
	padding: 10px;
}

.index-collection__info-unit__title {
	position: absolute;
	top: 811px;
	margin-right: 50px;
	font-weight: 500;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 10px;
}

.index-collection__info-unit__text {
	position: absolute;
	top: 851px;
	max-width: 377px;
	width: 100%;
}

/* HOW IT WORKS  */

.how-it-works {
	background-image: url(../img/Group\ 3620.jpg);
	max-width: 1400px;
	color: var(--white-color);
	width: 100%;
	max-height: 823px;
	height: 100%;
}

.how-it-works__inner {
	position: relative;
	padding-right: 30px;
	padding-left: 30px;
}

.how-it-works__img {
	position: absolute;
	right: 68px;
	top: 41px;
}

.how-it-works__title {
	text-align: center;
	padding-top: 50px;
	font-weight: 700;
	font-size: 50px;
	line-height: 1.2;
	margin-bottom: 80px;
}

.how-it-works__kvadrat {
	background-image: url(../img/Vector\ 5.svg);
	margin-bottom: 20px;
	max-width: 966px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	justify-content: space-between;
}

.how-it-works__kvadrat-inner {
	width: 60px;
	height: 60px;
	background-color: var(--white-color);
	border: 4px solid var(--dark-bg);
}

.how-it-works__list {
	margin-left: -40px;
	margin-bottom: 60px;
	list-style: none;
	color: var(--black-color);
	display: flex;
	justify-content: space-between;
}

.how-it-works__item {
	background-color: var(--white-color);
	padding: 20px 20px 40px 20px;
}
.how-it-works__item:not(:last-child) {
	margin-right: 20px;
}

.how-it-works__item-title {
	font-size: 60px;
	text-align: right;
	opacity: 0.8;
	font-weight: 400;
	margin-bottom: 45px;
}

.how-it-works__item-text {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.how-it-works__item-info {
	max-width: 385px;
	width: 100%;
}

.how-it-works__btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.works-btn {
	background-color: var(--dark-bg);
}

/* START FOOTER */

.site-footer {
	background-color: var(--gold-bg);
	max-width: 1440px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	max-height: 160px;
	height: 100%;
}

.site-footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 61px 50px;
}

.site-footer__icon:not(:last-child) {
	margin-right: 30px;
}
