:root {
	--black-color: #333333;
	--dark-color: #000000;
	--white-color: #ffffff;
	--green-bg: #0a775f;
	--gold-bg: #f3d7b7;
	--dark-bg: #c99b67;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/') format('woff2'), url('../fonts/') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/') format('woff2'), url('../fonts/') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/') format('woff2'), url('../fonts/') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

p {
	font-family: 'Roboto' sans-serif;
}

html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dotted var(--green-bg);
	outline-offset: 3px;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Roboto' sans-serif;
	font-weight: 400;
	color: var(--black-color);
	line-height: 1.5;
	font-size: 18px;
}
.container {
	max-width: 1380px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.main-content {
	flex-grow: 1;
}
